<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/rating/theme.css">

    <title>Game Info - {{gameX.gameName}}</title>
  </head>
  <body class="whiteBG">

<!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark theme-red minwidth">
      <a class="navbar-brand ml-5" href="/rating/">AtypicalGamers</a>

    <!-- search -->
      <div class="container justify-content-center">
        <form action="/rating/search/result/1" class="form-inline schPosition" method="POST">
          <input class="form-control borderWhite rounded-0 searchInput" name="keyword" id="search_input" type="search" placeholder="Search..." aria-label="Search">
          <button class="btn borderWhite rounded-0 text-white theme-red" id="search_submit" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>


      <button class="navbar-toggler btnPosition" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">Game <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Ranking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Comment</a>
          </li>
          <li class="nav-item ml-3">

          {% if userXInfo %}
          <li class="nav-item">
            <a class="nav-link text-white" href="#">{{userXInfo.userName}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/rating/logout">Logout</a>
          </li>

          {% else %}
            <button class="nav-link theme-red text-white borderRed" style="border:1px solid #ff3131" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-user"></i></button>

          {% endif %}

          </li>
        </ul>
      </div>

    </nav>

<!-- modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/rating/login/welcome/1" method="POST">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">User Name:</label>
                <input type="text" class="form-control" id="userId" name="userName">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Password:</label>
                <input type="text" class="form-control" id="password" name="PW">
              </div>
              <button class="btn theme-red text-white" id="login_submit" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<!-- video -->

    <div class="container-fluid minwidth containerShadow">
      <div class="row">

        <div class="col-8 inline-block">
          <iframe width="100%" height="450" src="{{gameX.video_url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        </div>
        <div class="col-4 inline-block">
          <div class="pt-5 px-3">
            <h2>{{gameX.gameName}}</h2>
            <p>
              {% set i=(gameX.totalScore/gameX.ratingCount) | number_format(1, '.', ',') %}
              {% set stars=i/2 %}
              {% for star in 0..stars %}
                {% set left = stars - star %}
                {% if left>=1 %}
                <i class="fas fa-star"></i> 
                {% elseif left>0.75 %}
                <i class="fas fa-star"></i> 
                {% elseif left>=0.25 and left<=0.75 %}
                <i class="fas fa-star-half-alt"></i> 
                {% endif %}
              {% endfor %}
              <a class="p-1 inline-block rounded spacedText text-white ml-3 theme-red">{{(gameX.totalScore/gameX.ratingCount) | number_format(1, '.', ',') }}</a>
            </p>
            <table class="tableSize">
              <tbody>
                <tr>
                  <td>Developer(s):</td>
                  <td>{{gameX.developer}}</td>
                </tr>
                <tr>
                  <td>Publisher(s):</td>
                  <td>{{gameX.publisher}}</td>
                </tr>
                <tr>
                  <td>Producer(s):</td>
                  <td>{{gameX.producer}}</td>
                </tr>
                <tr>
                  <td>Platform(s):</td>
                  <td>

                    {% set platforms = gameX.platform | split(',') %}
                    {% for plat in platforms %}
                      <a href="/rating/platform/get/{{plat}}">{{plat}}  </a>
                    {% endfor %}

                  </td>
                </tr>
                <tr>
                  <td>Release:</td>
                  <td>{{gameX.releaseDate}}</td>
                </tr>
                <tr>
                  <td>Genre(s):</td>
                  <td>{{gameX.genre}}</td>
                </tr>
                <tr>
                  <td>Mode(s):</td>
                  <td>{{gameX.mode}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>

<!-- tabs -->
    <div class="container-fluid minwidth">

      <div class="row my-5 mx-4 menu-tabs ">
        <div class="col-12">
          <div class="container-fluid">
            <div class="row text-secodary menu-underline">

              <a class="col-1 mr-5 active" id="toGameplay" href="#toGameplay">
                Gameplay
              </a>
              <a class="col-1 mr-5 text-dark" href="#toReview">
                Reviews
              </a>

            </div>
          </div>
        </div>

        <div class="row my-5 px-5">

          {{gameX.gameplay | raw}}

        </div>

      </div>
    </div>


    <div class="container-fluid minwidth">

      <div class="row my-5 mx-4 menu-tabs">
        <div class="col-12">
          <div class="container-fluid">
            <div class="row text-secodary menu-underline">
              <div id="toReview"></div>
              <a class="col-1 mr-5 active" href="#toReview">
                Reviews
              </a>

            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="form-inline my-3 ml-5">

          <div class="userCardWth cardPosition">
            <div class="card borderWhite">

              {% if userXInfo %}
              <img class="iconSize centerHor" src="{{userXInfo.avatar}}" alt="Card image cap">
              <div class="lowLineHeight text-center">
                <h5 class="text-dark">{{userXInfo.userName}}</h5>

              {% endif %}

              </div>
            </div>
          </div>

          {% if userXInfo %}
          <textarea id="review-input" class="form-control shadow-sm" style="width:550px" rows="5"></textarea>
          <button id="review-submit" class="btn btn-primary postBtnPosition ml-3 shadow-sm" data-id="{{gameX.idgameInfo}}">Post review</button>

          {% else %}
          <p>Leave your review by:</p>
          <button class="btn btn-primary ml-3 shadow-sm" href="#" data-toggle="modal" data-target="#exampleModal">User Login</button>

          {% endif %}



        </div>
      </div>
      <div id="result-info"> </div>

      <div id="all-reviews"> 
        {% if reviews %}
        {% for review in reviews %}
        <div class="row">
          <div class="form-inline my-3 col-12 align-items-start">
            <div class="userCardWth cardPosition col-2">
              <div class="card borderWhite">
                <img class="iconSize centerHor" src="/rating/avatars/{{review.userId}}.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="col-8">
              <div class="">
                <h5 class="card-title">{{review.userId}}</h5>
                <h6 class="card-subtitle mb-2 text-muted smallText">{{review.postTime}}</h6>
                <p class="card-text">{{review.reviewContent}}</p>
                <span class="text-muted smallText">Was this review helpful?</span>
                <button type="button" class="btn btn-primary btn-sm" id="review-like"><i class="far fa-thumbs-up"></i></button><span id="likeCounts" class="text-muted smallText"> {{review.likeCount}}</span>
                <button type="button" class="btn btn-danger btn-sm" id="review-dislike"><i class="far fa-thumbs-down"></i></button><span id="dislikeCounts" class="text-muted smallText"> {{review.dislikeCount}}</span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div id="noReview">
          <div class="alert alert-dark" role="alert">
            No reviews yet.
          </div>
        </div>
        {% endif %}
       </div>

    </div>

    <!-- footer -->
    <div class="container-fluid minwidth theme-red footerSize">
      <div class="row col-12 container d-flex justify-content-center">
        <div class="col-4"></div>
        <div class="col-4"><h3 class="my-5 text-center text-white">AtypicalGamers</h1></div>
        <div class="col-4"></div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">

/*      $('#review-like').on('click',function(){
        var r_id = $(this).data('idreview');;
        var u_id = "{{userXInfo.userName}}";
        var likes = {{review.likeCount}};
        $.post(
          '/rating/review/like/1',
          {
            "rid": r_id,
            "uid": u_id,
          },
          function(data){
            if(data.code==200){
              $('#likeCounts').html( likes + 1 );
            } 
          },
          "json"
        );
      }); */


      

      $('#review-submit').on('click',function(){
        var g_id = $(this).data('id');
        var u_id = "{{userXInfo.userName}}";
        var content = $('#review-input').val();
        if(content!=''){
          $.post(
            '/rating/review/submit/1',
            {
              "gid": g_id,
              "uid": u_id,
              "content": content
            },
            function(data){
              if (data.code==200){
                $('#result-info').html(
                  `<div class="alert alert-primary" role="alert">\n` +
                  data.message +
                  `</div>`
                );
                $('#review-input').val('');//有内容=赋值，无内容=抓值
                $('#noReview').html(``);
                $('#all-reviews').prepend(
                  `<div class="row">
                    <div class="form-inline my-3 col-12 align-items-start">
                      <div class="userCardWth cardPosition col-2">
                        <div class="card borderWhite">
                          <img class="iconSize centerHor" src="{{userXInfo.avatar}}" alt="Card image cap">
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="">
                          <h5 class="card-title">{{userXInfo.userName}}</h5>
                          <p class="card-text">` + content + `</p>
                        </div>
                      </div>
                    </div>
                  </div>`
                  );
              }else{
                $('#result-info').html(
                  '<div class="alert alert-warning" role="alert">\n' +
                  data.message +
                  '</div>'
                );
                
              }
            },
            "json"
          );
        }
      });
    </script>

  </body>
</html>